# [defaults]

# inventory      = inventory.ini
# log_path = /var/log/ansible.log
# private_key_file = /home/ec2-user/ansible 
# remote_user = ansible
# ansible_password = DevOps321
  
#ask_vault_pass = True
#vault_password_file = ~/.ansible/.mysql_vault
#forks = 8

[defaults]
inventory = inventory.ini
private_key_file = /home/ec2-user/ansible
remote_user = ansible
ansible_password = DevOps321
log_path = /home/ec2-user/ansible.log





